@model IEnumerable<JobBoard.Data.EF.OpenPosition>

@{
    ViewBag.Title = "Index";
}

<style>
    .ui-tabs-vertical {
        width: 55em;
    }

        .ui-tabs-vertical .ui-tabs-nav {
            padding: .2em .1em .2em .2em;
            float: left;
            width: 12em;
        }

            .ui-tabs-vertical .ui-tabs-nav li {
                clear: left;
                width: 100%;
                border-bottom-width: 1px !important;
                border-right-width: 0 !important;
                margin: 0 -1px .2em 0;
            }

                .ui-tabs-vertical .ui-tabs-nav li a {
                    display: block;
                }

                .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
                    padding-bottom: 0;
                    padding-right: .1em;
                    border-right-width: 1px;
                }

        .ui-tabs-vertical .ui-tabs-panel {
            padding: 1em;
            float: right;
            width: 40em;
        }
</style>





<p>
    @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New Open Position", "Create")
    }
</p>

<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Open Positions</a></li>
        <li><a href="#tabs-2">All Positions</a></li>
        @*<li><a href="#tabs-3">Create New Opening</a></li>*@
    </ul>
    <div id="tabs-1">
        <h2>Open Positions at Dunder Mifflin</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Location.StoreNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Position.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Location.State)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.StoreNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location.State)
                    </td>
                    <td>
                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionID }, new { @class = "btn btn-default" })<br /> 
                            

                            @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionID }, new { @class="btn btn-default"}) 
                            
                        }

                       
                        @if (User.IsInRole("Employee"))
                        {
                            @Html.ActionLink("Apply", "Apply", new { id = item.OpenPositionID }, new { @class="btn btn-primary"})
                        }

                    </td>
                </tr>
            }
        </table>
    </div>
    <div id="tabs-2">
        <h2>All Positions at Dunder Mifflin</h2>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Position.Title)
                </th>
                <th>
                    Job Description
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position.JobDescription)
                    </td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            @Html.ActionLink("Edit", "Edit", new { id = item.OpenPositionID }, new { @class = "btn btn-default" })<br />
                            
                            @Html.ActionLink("Delete", "Delete", new { id = item.OpenPositionID }, new { @class = "btn btn-default" }) 
                            <br />
                            
                        }

                    </td>
                </tr>
            }
            
        </table>
        
    </div>
    @*<div id="tabs-3">
        <h2>Create New Open Position</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.PositionID, "Position", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("PositionID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PositionID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.LocationID, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("LocationID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>*@

    <div class="col-md-offset-12" style="padding-left:1em">

        <img src="~/Content/images/downsizing-i-have-no-problem-with-that-i-have-been-recommending-downsizing-since-i-got-here-i-even-b.jpg" />
    </div>
</div>

@section Script{


    <script>
        $(function () {
            $("#tabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $("#tabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
        });
    </script>
}

