@model JobBoard.UI.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<div class="inner_content_info_agileits">
    <div class="container">
        <div class="tittle_head_w3ls">
            <h3 class="tittle three">Register Now </h3>
        </div>
        <div class="inner_sec_grids_info_w3ls">
            <div class="signin-form">
                <div class="login-form-rec">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div>
                            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                        </div>

                        <div>
                            @Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })

                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        </div>
                        <div>
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })

                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                        <div>
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                        <div>
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.ResumeFile, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div @*class="col-md-10"*@>
                                <input type="file" name="resumeFile" />
                            </div>
                        </div>

                        <input type="submit" value="Register">
                    }
                </div>
                <p class="reg"><a href="~/Views/Home/Index.cshtml"> By clicking register, I agree to your terms</a></p>

            </div>
        </div>
    </div>
</div>