@model IEnumerable<JobBoard.Data.EF.Application>

@{
    ViewBag.Title = "Applications";
    
}

<h2 style="margin-bottom:1em; margin-top:1em; text-align:center">Applications</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.ManagerNotes)
            </th>
        }
       
            <th>
                @Html.DisplayNameFor(model => model.Status.StatusName)
            </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ResumeFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.FirstName) @Html.DisplayFor(modelItem => item.AspNetUser.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
            {
                <td>
                    @*@Html.TextAreaFor(modelItem => item.ManagerNotes, new { @style = "width:100%; height:7em" })*@
                    @Html.DisplayFor(modelItem => item.ManagerNotes)
                </td>
            }
            
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusName)
            </td>


            <td>
                <a href="~/Content/Resumes/@item.ResumeFile">Resume</a>
                @*@Html.DisplayFor(modelItem => item.ResumeFile)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationID }, new { @class = "btn btn-default" })

                @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                {
                    @: | 
                    @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationID }, new { @class = "btn btn-default" })
                }
            </td>
        </tr>
    }

</table>
