@model IEnumerable<JobBoard.Data.EF.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Applications</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManagerNotes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeclined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeFile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ManagerNotes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeclined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeFile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpenPosition.OpenPositionID)
        </td>
        <td>
            @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
            {
            @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationID }) @:|
            @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationID })
            }
           
            @Html.ActionLink("Details", "Details", new { id=item.ApplicationID }) |
           
        </td>
    </tr>
}

</table>
