@model IEnumerable<JobBoard.Data.EF.Message>

@{
    ViewBag.Title = "Index";
}

<h2>Messages</h2>

<p>
    @Html.ActionLink("Compose", "Create")
</p>
<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Inbox</a></li>
        <li><a href="#tabs-2">Sent</a></li>

    </ul>
    <div id="tabs-1">
        <h2>Inbox</h2>
        <table class="table">


            <tr>
                <th>
                    From
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>

                <th></th>
            </tr>



            @foreach (var item in Model.Where(m => m.AspNetUser.Id == m.Recipient))
            {
                
                    string parameterValue = item.AspNetUser.FirstName + " " + item.AspNetUser.LastName;
                
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => parameterValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>

                            @Html.ActionLink("Details", "Details", new { id = item.MessageID }, new { @class = "btn btn-default" })<br />


                            @Html.ActionLink("Delete", "Delete", new { id = item.MessageID }, new { @class = "btn btn-default" })


                        </td>
                    </tr>
                    }


        </table>
    </div>
    <div id="tabs-2">
        <h2>Sent Messages</h2>
        <table class="table">
            <tr>

                <th> Recipient</th>

                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model.Where(m => m.AspNetUser.Id == m.Sender))
            {
                
                    string parameterValue = item.AspNetUser.FirstName + " " + item.AspNetUser.LastName;
                
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => parameterValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Subject)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", new { id = item.MessageID }, new { @class = "btn btn-default" })<br />

                            @Html.ActionLink("Delete", "Delete", new { id = item.MessageID }, new { @class = "btn btn-default" })
                            <br />

                        </td>
                    </tr>
                    }

        </table>

    </div>

</div>

@section Script{


    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>

}
